body {
    margin:0;
    background-image: url(../images/question-mark-bg.png)

}
.container-fluid {
    background-color: white;
    width: 80%;
    position: relative;
    top: 80px;
    height: 520px;
}

#start {
    border-color: #3b3;
    padding: 5px;
    width: 100px;
    font-size: 30px;
    margin-left: 15%;
    margin-top: 100px;
}
#submit {
    margin-left: 800%;
    margin-top: 20px;
}
#homer-two {
    margin-left: 15%;
}
#header {
    margin-left: 35%;
    font-size: 60px;
}
#img-header {
    height: 100px;
 }

#question-text {
    color:#3a9 ;
}

#timer-here {
    margin-left: 300px;
    color: red;
}

#quiz-items {
margin-left: 110px; 
margin-right: 20px;
}
input {
margin: 5px;
}
#correct {
    color: lime;
    font-size: 40px;
    margin-top: 30px;
}

#incorrect {
    color: rgb(187, 45, 45);
    font-size: 40px;  
}

#results-text {
    margin-left: 30%;
}
